{{ define "main" }}
<main class="content-single">
  <div class="container">

    <meta http-equiv="refresh" content = "0;url={{ .Param "external-link" }}">

    <div class="d-flex justify-content-center mb-3 sponsor-single">
      You are now leaving Web&Wine and are being redirected to of {{ .Title }}...

    </div>  
    
    <div class="d-flex justify-content-center mb-3 sponsor-single">
        If you are not being redirected click&nbsp;<a href="{{ .Param "external-link" }}">here</a>
    </div>
  </div>
</main>
{{ end }}
