.content-list {
  margin: 20px 0;
}

.content-single {
  margin: 20px 0;
}

.key-fact-icon {
  height: 100px;
  margin-bottom: 10px;
}

.sponsor-single {
  font-size: larger;
  font-style: bold;
}

.sponsor-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .sponsor-list-anchor {
    width: 25%;
  }

  .sponsor-list-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.5s ease;

    &:hover {
      filter: grayscale(0%);
    }

    img {
      max-width: 100%;
      max-height: 100px;
      width: auto;
      padding: 10px;
    }
  }
}
