// Your variable overrides
$theme-colors: (
  "primary": #99cd5d,
  "danger": #ff4136
);

$body-bg: #fff !default;
$jumbotron-bg: #263238;
$jumbotron-color: #fff;


// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

.bg-dark {
    background-color: #263238 !important;
}

@import "./content-style.scss";
@import "./base-style.scss";
