<footer class="bg-dark">
    <div class="container py-5">
        <div class="row justify-content-end text-right">
            <div class="col-md-2">
                <a class="text-light" href="{{ relref . "privacy-policy" }}">Privacy Policy</a>
            </div>
            <div class="col-md-1">
                <a class="text-light" href="{{ relref . "imprint" }}">Imprint</a>
            </div>
            <div class="col-md-2">
                <a href='mailto:hey@webandwine.org'>hey@webandwine.org</a>
            </div>  
        </div>
    </div>
</footer>
