<header class="bg-dark text-light py-5">
    <div class="container text-center">
        <a href="/"><img height="300px" src="/logo.png" class="logo" alt="logo web&amp;wine augsburg"></a>

        <h1 class="jumbotron-heading">Web&Wine</h1>

        <div class="lead">
            At Web&Wine we meet monthly to discuss the latest innovations in web development or any other topic. We are
            excited about new people, new opinions and new impressions.
        </div>

        <a class="btn btn-primary mt-5" target="_blank" rel="nofollow noopener noreferrer"
            href="https://www.meetup.com/de-DE/web-and-wine/">
            Signup at Meetup.com
        </a>
    </div>
</header>