<header class="bg-dark text-light py-5">
    <div class="container text-center">
        <a href="/"><img src="./logo.png" class="logo" alt="logo web&amp;wine augsburg"></a>

        <h1 class="jumbotron-heading">Web & Wine</h1>

        <p class="lead">
            At Web&Wine we meet monthly to discuss the latest innovations in web development or any other topic.
        </p>
        <p>
            We are excited about new people, new opinions and new impressions. The meta-level is extremely important!
        </p>
        <p>
            <a href="https://www.meetup.com/de-DE/web-and-wine/" class="btn btn-primary my-2">
                Signup at Meetup.com
            </a>
        </p>
    </div>
</header>