{{ $json := getJSON "https://api.meetup.com/web-and-wine/events?" .meetupParams }}

{{ if not $json }}
<div class="col-md-12 text-center">
    Stay tuned for more wine! So far we have consumed {{ partial "wine-bottles-drank.html" }} bottles of wine.

    <div class="row justify-content-center mt-4">
        <div class="wine-bottle">
            {{readFile "wine-bottle.svg" | safeHTML }}
        </div>
    </div>
</div>
{{ end }}

{{ range first 2 $json }}
<div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{ .venue.name }}</strong>
            <h3 class="mb-0">
                <a class="text-dark" href="{{ .link }}">{{ replace .name "Web&Wine" "" }}</a>
            </h3>
            <div class="mb-1 text-muted">
                {{ div .time 1000 | int | dateFormat "Monday, Jan 2, 2006" }}</div>
            <p class="card-text mb-auto">{{ safeHTML .description }}</p>
        </div>
    </div>
</div>
{{ end }}