{{ define "main" }}
<main>
    <section class="py-5">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                    <h2>Upcoming Events</h2>
                </div>
            </div>
            <div class="row">
                {{ partial "meetup-events.html" (dict "context" . "meetupParams" "sign=true&photo-host=public&desc=true&has_ended=false&status=upcoming" ) }}
            </div>
        </div>
    </section>

    <section class="bg-dark text-light py-5">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-12 text-center">
                    <h2>Key Facts</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div>
                        <img class="key-fact-icon" src="icons/forum-black-18dp.svg" />
                        <h3>Format</h3>
                        <p>
                            All Creatures Welcome<br>
                            Time for Networking<br>
                            Lightning Talks (~10 min.)<br>
                            Normal Talks (~30 min.)<br>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div>
                        <img class="key-fact-icon" src="icons/local_pizza-black-18dp.svg" />
                        <h3>Food</h3>
                        <p>
                            Non-alcoholic Beverages<br>
                            Wine and Beer<br>
                            Pizza
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div>
                        <img class="key-fact-icon" src="icons/location_on-black-18dp.svg" />
                        <h3>Location</h3>
                        <p>
                            Augsburg
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div>
                        <img class="key-fact-icon" src="icons/favorite-black-18dp.svg" />
                        <h3>Participate</h3>
                        <p>
                            You have a talk? Then you've come to the right place! We are excited about every submission
                            or contribution <a target="_blank" and rel="nofollow noopener noreferrer"
                                href="https://github.com/web-and-wine/talks">on Github.com</a>
                        </p>
                    </div>
                </div>
            </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row  mb-3">
                <div class="col-md-12 text-center">
                    <h2>Previous Events</h2>
                </div>
            </div>
            <div class="row">
                {{ partial "meetup-events.html" (dict "context" . "meetupParams" "sign=true&photo-host=public&desc=true&has_ended=true&status=past") }}
            </div>
        </div>
    </section>

    <section class="pb-5">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-12 text-center">
                    <h2>Sponsors</h2>
                </div>
            </div>
            <div class="row">
                {{ partial "sponsor-list.html" .Site }}
            </div>
        </div>
    </section>

    <!-- <div>
        <h2>Recent Posts</h2>
        <ul>
            {{ range first 5 .Site.RegularPages.ByPublishDate.Reverse }}
            <li>
                <span>{{ .Render "time-element" }}</span>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </div> -->
</main>
{{ end }}